---
import Container from '../layouts/container.astro';
import Center from '../layouts/center.astro';
import Box from '../layouts/box.astro';
import Switcher from '../layouts/switcher.astro';
import AspectRatio from '../layouts/aspect-ratio.astro';

const articles = [
  {
    slug: '#',
    image: {
      alt: '',
      src: 'https://placeimg.com/500/320/animals',
    },
    title: 'Stack',
    excerpt: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus suscipit mauris eu ultrices. ',
  },
  {
    slug: '#',
    image: {
      alt: '',
      src: 'https://placeimg.com/500/320/animals',
    },
    title: 'Other',
    excerpt: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus suscipit mauris eu ultrices. ',
  },
  {
    slug: '#',
    image: {
      alt: '',
      src: 'https://placeimg.com/500/320/animals',
    },
    title: 'Animals 🐈',
    excerpt: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus suscipit mauris eu ultrices. ',
  }
]
---
<style>
  article {
    flex: 1;
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
  }
  article h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
  }
</style>

<Container>
  <Center>
    <h2>
      The Stack in The Box 📦
    </h2>
    <p>
      Testing Box within in a Switcher Layout with Responsive Images
    </p>
  </Center>
  <Switcher>
    {articles.map(({slug, image, title, excerpt}) => (
      <Box>
        <article>
          <h3>
            <a href={slug}>{title}</a>
          </h3>
          <AspectRatio>
            <img src={image.src} alt={image.alt} />
          </AspectRatio>
          <p>
            {excerpt}
          </p>
        </article>
      </Box>
    ))}
  </Switcher>
</Container>